@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),
        url('/fonts/MullerRegular.woff2') format('woff2'),
        url('/fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'),
        url('/fonts/MullerMedium.woff2') format('woff2'),
        url('/fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Light'), local('MullerLight'),
        url('/fonts/MullerLight.woff2') format('woff2'),
        url('/fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),
        url('/fonts/MullerBold.woff2') format('woff2'),
        url('/fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$background-site-color: #E5E5E5;
$link-color: #CC9933;
$bgn-white-color: #FFFFFF;
$more-text-color: #F0BF5F;
$header-link-color: #666666;
$site-text-color: #000000;
$form-desc-color: #999999;
$heading-and-footer: #333333;
$i-want-a-tour-bgn-color: #E9E9E9;
$btn-active-color: #A47312;
$light-hover-color: #F0BF5F;
$section-margin-bottom: 70px;

@mixin button {
    background: $bgn-white-color;
    padding: 13px 20px;
    border: 1px solid $link-color;
    border-radius: 10px;
    font-size: 16px;
    line-height: 16px;
    color: $link-color;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@mixin special-offers__card {
    z-index: 0;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

@mixin contacts__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Muller', sans-serif;
    background: $background-site-color;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

:focus {
    outline-color: $link-color;
}

.heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: $heading-and-footer;
    margin-bottom: 20px;
    margin-left: 40px;
}

.header {
    &__top {
        display: flex;
        justify-content: space-between;
        height: 54px;
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
    }

    &__logo {
        margin-right: 40px;
    }

    &__tel-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: $header-link-color;
        display: flex;
        align-items: center;
        transition: color 0.3s ease;

        &:hover,
        &:focus {
            color: $link-color;
        }

        &:active {
            color: $btn-active-color;
        }
    }

    &__ico {
        height: 14px;
        margin-left: auto;
        background: url(../img/header/pointer.svg) no-repeat center left;
    }

    &__login-text {
        font-size: 16px;
        line-height: 16px;
        color: $link-color;
        padding-left: 28px;
        transition: color 0.3s ease;

        &:hover {
            color: $light-hover-color;
        }

        &:active {
            color: $btn-active-color;
        }
    }

    &__nav {
        background: $bgn-white-color;
        border-radius: 15px;
        margin-bottom: 70px;
        padding: 12px 45px;
        display: flex;
        justify-content: space-between;

        &-list {
            display: flex;
            align-items: center;
        }

        &-item:not(:last-child) {
            margin-right: 45px;
        }

        &-link {
            font-size: 16px;
            line-height: 16px;
            color: $header-link-color;
            transition: color 0.3s ease;

            &:hover,
            &:focus {
                color: $link-color;
            }

            &:active {
                color: $btn-active-color;
            }
        }

        &-button {
            cursor: pointer;
            @include button();

            &:hover,
            &:focus {
                background-color: $link-color;
                color: $bgn-white-color;
            }

            &:active {
                background-color: $btn-active-color;
                color: $bgn-white-color;
            }
        }

        &-button:not(:last-child) {
            margin-right: 40px;
            margin-left: auto;
        }
    }
}

.special-offers {
    margin-bottom: $section-margin-bottom;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block-left {
        max-width: 49%;
        margin-right: 24px;
    }

    &__card {
        @include special-offers__card;

        &:first-child {
            margin-bottom: 24px;
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
        }
    }

    &__island-maldives {
        background-image: url(../img/special-offers/island-maldives.png);
    }

    &__island-crete {
        background-image: url(../img/special-offers/island-crete.png);
    }

    &__card-box {
        padding: 40px 108px 40px 45px;
    }

    &__bg {
        border-radius: 15px;
        background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: $bgn-white-color;
    }

    &__price {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: $bgn-white-color;
        opacity: 0.8;
        margin-top: 15px;
        margin-bottom: 43px;
    }

    &__more-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $more-text-color;
        background: url(/img/arrow.svg) no-repeat right center;
        padding-right: 14px;
        transition: color 0.3s ease, padding-right 0.2s linear;

        &:hover {
            color: $link-color;
            padding-right: 25px;
        }

        &:active {
            color: $bgn-white-color;
        }
    }

    &__block-right {
        max-width: 49%;
    }

    &__card-big {
        @include special-offers__card;

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
        }
    }

    &__luxury-rooms {
        background-image: url(../img/special-offers/luxury-rooms.png);
    }

    &__card-box-big {
        padding: 212px 229px 40px 45px;
    }

    &__title-big {
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        color: $bgn-white-color;
    }

    &__price-big {
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: $bgn-white-color;
        opacity: 0.8;
        margin-top: 15px;
        margin-bottom: 45px;
    }
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: $site-text-color;
    margin: auto;
}

.about-us {
    margin-bottom: 70px;

    &__text {
        max-width: 888px;
    }
}

.services {
    margin-bottom: 70px;

    &__card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-box:nth-child(2n+1) {
            margin-right: 24px;
        }

        &-box:nth-child(-n+2) {
            margin-bottom: 24px;
        }

        &-img {
            line-height: 0;
            border-radius: 15px 15px 0px 0px;
        }

        &-info {
            padding-left: 45px;
            padding-right: 126px;
            padding-top: 26px;
            padding-bottom: 35px;
            background: $bgn-white-color;
            border-radius: 0px 0px 15px 15px;
            width: 573px;
        }

        &-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 200%;
            color: $link-color;
            transition: color 0.3s ease;

            &::after {
                content: url(/img/arrow.svg);
                position: absolute;
                margin-top: 3px;
                margin-left: 7px;
            }

            &:hover,
            &:focus {
                color: $light-hover-color;
            }

            &:active {
                color: $btn-active-color;
            }
        }
    }
}

.advantage {
    margin-bottom: $section-margin-bottom;

    &__item {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
    }

    &__block {
        width: calc((100% - 22px) / 4 - 11px);
        background: $bgn-white-color;
        border-radius: 15px;
        padding: 40px 42px 32px 45px;
    }
}

.accommodation {
    margin-bottom: $section-margin-bottom;

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__card {
        width: calc((100% - 24px) / 3 - 8px);
        background: $bgn-white-color;
        border-radius: 15px;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        }

        &:last-child {
            position: relative;
            background: url(../img/accommodation/card-img-9.png) no-repeat center center/cover;
            padding: 376px 53px 27px 53px;
            max-height: 440px;
        }

        &-more {
            font-weight: 500;
            font-size: 20px;
            line-height: 200%;
            color: $bgn-white-color;
            background: url(/img/arrow-white.svg) no-repeat center right;
            padding-right: 14px;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }

    &__info {
        padding: 32px 45px 48px 45px;
    }

    &__price-accent {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $form-desc-color;
    }

    &__price-note {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $site-text-color;
    }

    &__price {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: $site-text-color;
    }

    &__price-stars {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__location {
        margin-bottom: 33px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $form-desc-color;
    }

    &__button {
        @include button();

        &:hover,
        &:focus {
            background-color: $link-color;
            color: $bgn-white-color;
        }

        &:active {
            background-color: $btn-active-color;
            color: $bgn-white-color;
        }
    }
}

.i-want-a-tour {
    margin-bottom: $section-margin-bottom;

    &__container {
        background: $i-want-a-tour-bgn-color;
        border-radius: 15px;
        padding: 45px 45px 45px 40px;
    }

    &__title {
        color: $site-text-color;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }

    &__form {
        display: flex;
        background: $bgn-white-color;
        border-radius: 15px;
        margin-left: 5px;
        padding: 32px 28px 32px 28px;
    }

    &__box {
        margin-right: 41px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: $site-text-color;
        margin-bottom: 15px;
        display: inline-block;
    }

    &__select-city {
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $site-text-color;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(../img/i-want-a-tour/select-ico.svg) no-repeat center right;
        padding-right: 37px;
    }

    &__select-country {
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $site-text-color;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(../img/i-want-a-tour/select-ico.svg) no-repeat center right;
        padding-right: 64px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    input[type="date"] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        background: url(../img/i-want-a-tour/date-ico.svg) no-repeat;
        background-position: right calc(50% - 3px);
    }

    &__number {
        border: none;
        border-bottom: 1px solid $i-want-a-tour-bgn-color;
        max-width: 121px;
    }

    input.i-want-a-tour__number::-webkit-outer-spin-button,
    input.i-want-a-tour__number::-webkit-inner-spin-button {
        opacity: 1;
    }

    &__button {
        @include button();
        cursor: pointer;
        font-weight: 400;
        padding: 13px 30px;

        &:hover,
        &:focus {
            background-color: $link-color;
            color: $bgn-white-color;
        }

        &:active {
            background-color: $btn-active-color;
            color: $bgn-white-color;
        }
    }
}

.contacts {
    margin-bottom: $section-margin-bottom - 30px;

    &__block-right {
        width: 34.75%;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        background: $bgn-white-color;
        border-radius: 15px;
        padding: 45px;
    }

    &__box {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid $i-want-a-tour-bgn-color;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 45px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: $site-text-color;
        margin: 0;
    }

    &__item-box {
        margin-bottom: 23px;
        width: 235px;
    }

    &__text {
        @include contacts__text;
        color: $site-text-color;
        max-width: 229px;
        margin: 0;
    }

    &__tel {
        @include contacts__text;
        color: $link-color;
        transition: color 0.3s ease;

        &:hover,
        &:focus {
            color: $light-hover-color;
        }

        &:active {
            color: $btn-active-color;
        }
    }

    &__email {
        @include contacts__text;
        color: $link-color;
        transition: color 0.3s ease;

        &:hover,
        &:focus {
            color: $light-hover-color;
        }

        &:active {
            color: $btn-active-color;
        }
    }

    &__desc {
        @include contacts__text;
        color: $form-desc-color;
    }

    &__button {
        @include button();
        cursor: pointer;
        font-weight: 400;
        padding: 27px 29px;

        &:hover,
        &:focus {
            background-color: $link-color;
            color: $bgn-white-color;
        }

        &:active {
            background-color: $btn-active-color;
            color: $bgn-white-color;
        }
    }
}

.footer {
    margin-bottom: $section-margin-bottom - 40px;

    &__container {
        background: $heading-and-footer;
        border-radius: 15px;
        padding: 45px;
        display: flex;
        justify-content: space-between;
        background-image: url(../img/footer__sun.svg);
        background-repeat: no-repeat;
        background-position: 80% bottom;
    }

    &__block-left {
        max-width: 302px;
        margin-right: 125px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 190%;
        color: $bgn-white-color;
        margin: 0;
        margin-bottom: 37px;
    }

    &__terms-of-use {
        @include contacts__text;
        color: $link-color;
        transition: color 0.3s ease;

        &:hover,
        &:focus {
            color: $light-hover-color;
        }

        &:active {
            color: $btn-active-color;
        }
    }

    &__right-box {
        margin: 0;
        margin-bottom: 15px;
    }

    &__address {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: $bgn-white-color;
    }

    &__tel {
        @include contacts__text;
        color: $link-color;
        transition: color 0.3s ease;

        &:hover {
            color: $light-hover-color;
        }

        &:active {
            color: $btn-active-color;
        }
    }

    &__email {
        @include contacts__text;
        color: $link-color;
        transition: color 0.3s ease;

        &:hover {
            color: $light-hover-color;
        }

        &:active {
            color: $btn-active-color;
        }
    }

    .footer__social {
        // display: flex;
        // flex-direction: column;
        margin-left: auto;
    }

    .footer__social-item {
        width: 25px;
        height: 25px;
    }

    .footer__social-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .footer__social-icon path {
        transition: fill 0.3s ease;
    }

    .footer__social-icon:hover path {
        fill: $link-color;
    }

    .footer__social-icon:focus path {
        fill: $link-color;
    }

    .footer__social-icon:active path {
        fill: $btn-active-color;
    }
}