@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),
        url('/fonts/MullerRegular.woff2') format('woff2'),
        url('/fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'),
        url('/fonts/MullerMedium.woff2') format('woff2'),
        url('/fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Light'), local('MullerLight'),
        url('/fonts/MullerLight.woff2') format('woff2'),
        url('/fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),
        url('/fonts/MullerBold.woff2') format('woff2'),
        url('/fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Muller', sans-serif;
    background: #E5E5E5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header {

    &__top {
        display: flex;
        justify-content: space-between;
        height: 54px;
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;

        .header__logo {
            margin-right: 40px;
        }

        .header__tel-text {
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            color: #666666;
            // margin-right: 542px;
        }

        .header__ico {
            margin-right: 5px;
        }

        .header__login-text {
            font-size: 16px;
            line-height: 16px;
            color: #CC9933;
        }
    }

    .header__nav {
        background: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 70px;
        padding: 12px 45px;

        .header__nav-list {
            display: flex;
            align-items: center;
            // padding: 0px 45px;

            // .header__nav-item:not(:last-child) {
            //     margin-right: 45px;
            // }

            .header__nav-item:nth-child(-n+5) {
                margin-right: 45px;
            }

            .header__nav-link {
                font-size: 16px;
                line-height: 16px;
                color: #666666;
            }

            .header__nav-button {
                padding: 13px 20px;
                border: 1px solid #CC9933;
                border-radius: 10px;
            }

            .header__nav-button:not(:last-child) {
                // margin-left: 69px;
                margin-left: 114px;
                margin-right: 40px;
            }

            .header__nav-btn-text {
                font-size: 16px;
                line-height: 16px;
                color: #CC9933;
            }
        }
    }
}

.heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 20px;
    margin-left: 40px;
}

.special-offers {

    margin-bottom: 70px;

    .special-offers__block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .special-offers__block-left {
            max-width: 49%;
            margin-right: 24px;

            .special-offers__card {
                // line-height: 0;

                z-index: 0;
                position: relative;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 15px;
            }

            .special-offers__island-maldives {
                background-image: url(/img/special-offers__card-img-1.png);
            }

            .special-offers__island-crete {
                background-image: url(/img/special-offers__card-img-2.png);
            }

            .special-offers__card:first-child {
                margin-bottom: 24px;
            }

            .special-offers__card-box {
                padding: 40px 108px 40px 45px;
            }

            .special-offers__bg {
                border-radius: 15px;
                background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
            }

            .special-offers__title {
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
                color: #FFFFFF;
                text-align: left;
            }

            .special-offers__price {
                font-weight: 400;
                font-size: 20px;
                line-height: 20px;
                color: #FFFFFF;
                opacity: 0.8;
                margin-top: 15px;
                margin-bottom: 43px;
            }

            .special-offers__more-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #F0BF5F;
            }

            // .special-offers__arrow {
            //     position: absolute;
            //     left: 136px;
            //     top: 202px;
            // }
        }

        .special-offers__block-right {
            max-width: 49%;

            .special-offers__card-big {
                // line-height: 0;

                z-index: 0;
                position: relative;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 15px;
            }

            .special-offers__luxury-rooms {
                background-image: url(/img/special-offers__card-img-3.png);
            }

            .special-offers__card-box-big {
                padding: 212px 229px 40px 45px;
            }

            .special-offers__title-big {
                font-weight: 700;
                font-size: 60px;
                line-height: 60px;
                color: #FFFFFF;
            }

            .special-offers__price-big {
                font-weight: 400;
                font-size: 30px;
                line-height: 30px;
                color: #FFFFFF;
                opacity: 0.8;
                margin-top: 15px;
                margin-bottom: 45px;
            }

            .special-offers__more-text-big {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #F0BF5F;
            }

            // .special-offers__arrow-big {
            //     position: absolute;
            //     left: 136px;
            //     top: 483.5px;
            // }

        }
    }
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    margin: auto;
}

.about-us {
    margin-bottom: 70px;

    .about-us__text {
        width: 888px;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #000000;
    }
}

.services {
    margin-bottom: 70px;

    .services__card-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .services__card:nth-child(2n+1) {
            margin-right: 24px;
        }

        .services__card:nth-child(-n+2) {
            margin-bottom: 24px;
        }

        .services__card-img {
            line-height: 0;
            border-radius: 15px 15px 0px 0px;
        }

        .services__card-info {
            padding-left: 45px;
            padding-right: 126px;
            padding-top: 26px;
            padding-bottom: 35px;
            background: #FFFFFF;
            border-radius: 0px 0px 15px 15px;
            width: 573px;
            // transform: rotate(-180deg);
        }

        .services__card-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 200%;
            color: #CC9933;
        }

        .services__card-title::after {
            content: url(/img/arrow.svg);
            position: absolute;
            margin-top: 3px;
            margin-left: 7px;
        }
    }
}

.advantage {
    margin-bottom: 70px;

    .advantage__item {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;

        .advantage__block {
            // width: 276px;
            height: 276px;
            width: calc((100% - 22px) / 4 - 11px);
            background: #FFFFFF;
            border-radius: 15px;
            padding: 40px 42px 32px 45px;
        }
    }
}

.accommodation {
    margin-bottom: 70px;

    .accommodation__block {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .accommodation__card {
        width: calc((100% - 24px) / 3 - 12.5px);
    }
}