@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),
        url('/fonts/MullerRegular.woff2') format('woff2'),
        url('/fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'),
        url('/fonts/MullerMedium.woff2') format('woff2'),
        url('/fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Light'), local('MullerLight'),
        url('/fonts/MullerLight.woff2') format('woff2'),
        url('/fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),
        url('/fonts/MullerBold.woff2') format('woff2'),
        url('/fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Muller', sans-serif;
    background: #E5E5E5;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header {

    &__top {
        display: flex;
        justify-content: space-between;
        height: 54px;
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;

        .header__logo {
            margin-right: 40px;
        }

        .header__tel-text {
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            color: #666666;
            display: flex;
            align-items: center;
        }

        .header__ico {
            height: 14px;
            margin-left: auto;
            background: url(/img/header__ico.svg) no-repeat center left;
        }

        .header__login-text {
            font-size: 16px;
            line-height: 16px;
            color: #CC9933;
            padding-left: 28px;
        }
    }

    .header__nav {
        background: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 70px;
        padding: 12px 45px;
        display: flex;
        justify-content: space-between;

        .header__nav-list {
            display: flex;
            align-items: center;

            .header__nav-item:not(:last-child) {
                margin-right: 45px;
            }

            // .header__nav-item:nth-child(-n+5) {
            //     margin-right: 45px;
            // }

            .header__nav-link {
                font-size: 16px;
                line-height: 16px;
                color: #666666;
            }
        }

        .header__nav-button {
            background: #FFFFFF;
            padding: 13px 20px;
            border: 1px solid #CC9933;
            border-radius: 10px;
            font-size: 16px;
            line-height: 16px;
            color: #CC9933;
            cursor: pointer;
        }

        .header__nav-button:not(:last-child) {
            margin-right: 40px;
            margin-left: auto;
        }
    }
}

.heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 20px;
    margin-left: 40px;
}

.special-offers {

    margin-bottom: 70px;

    .special-offers__block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .special-offers__block-left {
            max-width: 49%;
            margin-right: 24px;

            .special-offers__card {
                // line-height: 0;
                z-index: 0;
                position: relative;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 15px;
            }

            .special-offers__island-maldives {
                background-image: url(/img/special-offers__card-img-1.png);
            }

            .special-offers__island-crete {
                background-image: url(/img/special-offers__card-img-2.png);
            }

            .special-offers__card:first-child {
                margin-bottom: 24px;
            }

            .special-offers__card-box {
                padding: 40px 108px 40px 45px;
            }

            .special-offers__bg {
                border-radius: 15px;
                background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
            }

            .special-offers__title {
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
                color: #FFFFFF;
                text-align: left;
            }

            .special-offers__price {
                font-weight: 400;
                font-size: 20px;
                line-height: 20px;
                color: #FFFFFF;
                opacity: 0.8;
                margin-top: 15px;
                margin-bottom: 43px;
            }

            .special-offers__more-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #F0BF5F;
                background: url(/img/arrow.svg) no-repeat right center;
                padding-right: 14px;
            }
        }

        .special-offers__block-right {
            max-width: 49%;

            .special-offers__card-big {
                // line-height: 0;
                z-index: 0;
                position: relative;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 15px;
            }

            .special-offers__luxury-rooms {
                background-image: url(/img/special-offers__card-img-3.png);
            }

            .special-offers__card-box-big {
                padding: 212px 229px 40px 45px;
            }

            .special-offers__title-big {
                font-weight: 700;
                font-size: 60px;
                line-height: 60px;
                color: #FFFFFF;
            }

            .special-offers__price-big {
                font-weight: 400;
                font-size: 30px;
                line-height: 30px;
                color: #FFFFFF;
                opacity: 0.8;
                margin-top: 15px;
                margin-bottom: 45px;
            }

            .special-offers__more-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #F0BF5F;
                background: url(/img/arrow.svg) no-repeat right center;
                padding-right: 14px;
            }
        }
    }
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    margin: auto;
}

.about-us {
    margin-bottom: 70px;

    .about-us__text {
        width: 888px;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #000000;
    }
}

.services {
    margin-bottom: 70px;

    .services__card-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .services__card:nth-child(2n+1) {
            margin-right: 24px;
        }

        .services__card:nth-child(-n+2) {
            margin-bottom: 24px;
        }

        .services__card-img {
            line-height: 0;
            border-radius: 15px 15px 0px 0px;
        }

        .services__card-info {
            padding-left: 45px;
            padding-right: 126px;
            padding-top: 26px;
            padding-bottom: 35px;
            background: #FFFFFF;
            border-radius: 0px 0px 15px 15px;
            width: 573px;
            // transform: rotate(-180deg);
        }

        .services__card-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 200%;
            color: #CC9933;
        }

        .services__card-title::after {
            content: url(/img/arrow.svg);
            position: absolute;
            margin-top: 3px;
            margin-left: 7px;
        }
    }
}

.advantage {
    margin-bottom: 70px;

    .advantage__item {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;

        .advantage__block {
            // width: 276px;
            // height: 276px;
            width: calc((100% - 22px) / 4 - 11px);
            background: #FFFFFF;
            border-radius: 15px;
            padding: 40px 42px 32px 45px;
        }
    }
}

.accommodation {
    margin-bottom: 70px;

    .accommodation__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;

        .accommodation__card {
            width: calc((100% - 24px) / 3 - 8px);
            background: #FFFFFF;
            border-radius: 15px;

            .accommodation__info {
                padding: 32px 45px 48px 45px;
            }

            .accommodation__price-accent {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #999999;
            }

            .accommodation__price-note {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #000000;
            }

            .accommodation__price {
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
            }

            .accommodation__price-stars {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .accommodation__location {
                    margin: 0;
                }
            }

            .accommodation__location {
                margin-bottom: 33px;
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #999999;
            }

            .accommodation__button {
                background: #FFFFFF;
                padding: 13px 20px;
                border: 1px solid #CC9933;
                border-radius: 10px;
                font-size: 16px;
                line-height: 16px;
                color: #CC9933;
            }
        }

        .accommodation__card:last-child {
            position: relative;
            background: url(/img/accommodation__card-img-9.png) no-repeat center center/cover;
            padding: 376px 53px 27px 53px;
            max-height: 440px;
        }

        .accommodation__card-more {
            font-weight: 500;
            font-size: 20px;
            line-height: 200%;
            color: #FFFFFF;
            background: url(/img/arrow-white.svg) no-repeat center right;
            padding-right: 14px;
        }
    }
}

.i-want-a-tour {
    margin-bottom: 70px;

    .i-want-a-tour__container {
        background: #E9E9E9;
        border-radius: 15px;
        padding: 45px 45px 45px 40px;
    }

    .i-want-a-tour__title {

        color: #000000;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .i-want-a-tour__form {
        display: flex;
        background: #FFFFFF;
        border-radius: 15px;
        margin-left: 5px;
        padding: 32px 28px 32px 28px;

        .i-want-a-tour__box {
            margin-right: 41px;
        }

        .i-want-a-tour__subtitle {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: #000000;
            margin-bottom: 15px;
            display: inline-block;
        }

        .i-want-a-tour__select-city {
            border: none;
            outline: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #000000;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url(/img/i-want-a-tour__select-ico.svg) no-repeat center right;
            padding-right: 37px;
        }

        .i-want-a-tour__select-country {
            border: none;
            outline: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #000000;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url(/img/i-want-a-tour__select-ico.svg) no-repeat center right;
            padding-right: 64px;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
        }

        input[type="date"] {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: none;
            background: url(/img/i-want-a-tour__date-ico.svg) no-repeat;
            background-position: right calc(50% - 3px);
        }

        .i-want-a-tour__number {
            border: none;
            border-bottom: 1px solid #E9E9E9;
            max-width: 121px;
        }

        input.i-want-a-tour__number::-webkit-outer-spin-button,
        input.i-want-a-tour__number::-webkit-inner-spin-button {
            opacity: 1;
        }

        .i-want-a-tour__button {
            border: 1px solid #CC9933;
            border-radius: 10px;
            padding: 13px 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            background-color: #FFFFFF;
            color: #CC9933;
        }
    }
}

.contacts {
    margin-bottom: 40px;

    .contacts__info {
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 15px;
        padding: 45px;

        .contacts__item-box {
            display: flex;
            // justify-content: space-between;
            // text-align: right;
            border-bottom: 1px solid #E9E9E9;
            margin-bottom: 25px;

            // .contacts__item-box:last-child {
            //     margin-bottom: 45px;
            // }

            // &:last-child {
            //     margin-bottom: 45px;
            // }

            // .contacts__item-box:nth-child(4) {
            //     margin-bottom: 45px;
            // }

            .contacts__title {
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
            }

            .contacts__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #000000;
                max-width: 229px;
            }

            .contacts__tel {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #CC9933;
            }

            .contacts__email {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #CC9933;
            }

            .contacts__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #999999;
            }
        }

        .contacts__item-box:last-child {
            margin-bottom: 45px;
        }

        .contacts__button {
            border: 1px solid #CC9933;
            border-radius: 10px;
            padding: 27px 29px;
            background: #FFFFFF;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #CC9933;
        }
    }
}

.footer__container {
    background: #333333;
    border-radius: 15px;
    padding: 45px;
}